:root {
  /* Friendly settings */
  --bgdb-theme-main-background-color: #fff;
  --bgdb-theme-main-text-color: #212529;
  --bgdb-theme-navbar-background-color: #fff;
  --bgdb-theme-navbar-text-color: #212529;
  --bgdb-theme-card-background-color: #f8f9fa;
  --bgdb-theme-card-text-color: #212529;
  --bgdb-theme-accent-background-color: #212529;
  --bgdb-theme-accent-text-color: #eee;
  --bgdb-theme-navbar-toggler-icon-url: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");


  /* Advanced settings */
  --bgdb-theme-suggestion-color: #999;
  --bgdb-theme-complexity-1-color: rgb(50, 255, 50);
  --bgdb-theme-complexity-2-color: yellow;
  --bgdb-theme-complexity-3-color: orange;
  --bgdb-theme-complexity-4-color: red;
  --bgdb-theme-complexity-5-color: darkred;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--bgdb-theme-main-background-color);
  color: var(--bgdb-theme-main-text-color);
  margin-bottom: 60px;
}

.input-group>.bgdb-min {
  flex: none;
  width: fit-content;
}

.bgdb-checkbox-group {
  margin-left: 1rem;
}

.bgdb-form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: .25rem;
  border-style: solid;
  border-color: #ced4da;
}

.btn.btn-primary,
.btn.bgdb-btn {
  border-color: transparent;
  background-color: var(--bgdb-theme-accent-background-color);
  color: var(--bgdb-theme-accent-text-color);
}

.btn-check:checked+label>.bgdb-toggle-off,
.btn-check:not(:checked)+label>.bgdb-toggle-on {
  display: none;
}

.bgdb-danger {
  color: red;
}

.bgdb-upper {
  text-transform: uppercase;
}

.bgdb-tab-complete-input-group input,
input.bgdb-suggestion-input {
  margin: auto 0;
}

.bgdb-tab-complete-input-group span,
span.bgdb-suggestion-input {
  color: var(--bgdb-theme-suggestion-color);
}

.bgdb-tab-complete-input-group input,
.bgdb-tab-complete-input-group span,
input.bgdb-suggestion-input,
span.bgdb-suggestion-input {
  display: inline-block;
  box-sizing: content-box;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: pre;
  border: none;
  outline: none;
}

.bgdb-thumbnail-col,
.bgdb-thumbnail {
  width: 150px;
  display: block;
  background-color: black;
}

@media only screen and (max-width: 700px) {

  .bgdb-thumbnail-col,
  .bgdb-thumbnail {
    width: 100px;
    display: block;
  }
}

.bgdb-hidden {
  display: none;
}

.bgdb-list-item {
  list-style: none;
}

.bgdb-card>* {
  background-color: var(--bgdb-theme-card-background-color);
  color: var(--bgdb-theme-card-text-color);
}


.row.bgdb-row {
  flex-wrap: unset;
}

.bgdb-card,
.card.bgdb-card {
  background-color: var(--bgdb-theme-card-background-color);
  color: var(--bgdb-theme-card-text-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--bgdb-theme-card-color-secondary);
}

.bgdb-small-icon {
  width: 25px;
  margin: 2px;
  margin-right: 5px;
}

.bgdb-summary {
  font-size: 20px;
  margin: 0;
  width: auto;
  min-width: 120px;
  padding: 10px;
  background-color: var(--bgdb-theme-accent-background-color);
  color: var(--bgdb-theme-accent-text-color);
}

.bgdb-summary * {
  text-align: left;
  justify-content: left;
}

.bgdb-summary span {
  width: auto;
}

.bgdb-image-container {
  display: flex;
  background-color: var(--bgdb-theme-accent-background-color);
  color: var(--bgdb-theme-accent-text-color);
}

.bgdb-image-container img {
  margin: auto;
}

.bgdb-complexity-1 {
  font-weight: bold;
  color: var(--bgdb-theme-complexity-1-color);
}

.bgdb-complexity-2 {
  font-weight: bold;
  color: var(--bgdb-theme-complexity-2-color);
}

.bgdb-complexity-3 {
  font-weight: bold;
  color: var(--bgdb-theme-complexity-3-color);
}

.bgdb-complexity-4 {
  font-weight: bold;
  color: var(--bgdb-theme-complexity-4-color);
}

.bgdb-complexity-5 {
  font-weight: bold;
  color: var(--bgdb-theme-complexity-5-color);
}

.bgdb-game-list {
  padding-left: unset;
}

.card {
  overflow: hidden;
}

header,
.bgdb-navbar * {
  background-color: var(--bgdb-theme-navbar-background-color);
  color: var(--bgdb-theme-navbar-text-color);
}

.navbar-toggler-icon {
  background-image: var(--bgdb-theme-navbar-toggler-icon-url);
}

.bgdb-game-header {
  background-color: black;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.bgdb-game-header-image {
  display: block;
  max-width: 600px;
  max-height: 500px;
  min-height: 170px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .bgdb-game-header-image {
    width: 100%;
    background-color: black;
    padding: 10px;
  }
}

.bgdb-card-body-btn {
  display: block;
  margin-top: 10px;
}