:root {
  --bgdb-suggestion-color: #999;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-group > .bgdb-min {
  flex: none;
  width: fit-content;
}

.bgdb-checkbox-group {
  margin-left: 1rem;
}

.bgdb-form-container {  
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: .25rem;
  border-style: solid;
  border-color: #ced4da;
}

.btn-check:checked + label > .bgdb-toggle-off,
.btn-check:not(:checked) + label > .bgdb-toggle-on {
  display:none;
}

.bgdb-danger {
  color: red;
}

.bgdb-upper {
  text-transform: uppercase;
}

span.bgdb-suggestion-input {
  color: var(--bgdb-suggestion-color);
}

input.bgdb-suggestion-input,
span.bgdb-suggestion-input {
  display: inline-block;
  box-sizing: content-box;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: pre;
  border: none;
  outline: none;
}
