:root {
  --bgdb-suggestion-color: #999;
  --bgdb-card-background-color: rgb(90, 90, 90);
  --bgdb-card-color: white;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.input-group>.bgdb-min {
  flex: none;
  width: fit-content;
}

.bgdb-checkbox-group {
  margin-left: 1rem;
}

.bgdb-form-container {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: .25rem;
  border-style: solid;
  border-color: #ced4da;
}

.btn-check:checked+label>.bgdb-toggle-off,
.btn-check:not(:checked)+label>.bgdb-toggle-on {
  display: none;
}

.bgdb-danger {
  color: red;
}

.bgdb-upper {
  text-transform: uppercase;
}

.bgdb-tab-complete-input-group input,
input.bgdb-suggestion-input {
  margin: auto 0;
}

.bgdb-tab-complete-input-group span,
span.bgdb-suggestion-input {
  color: var(--bgdb-suggestion-color);
}

.bgdb-tab-complete-input-group input,
.bgdb-tab-complete-input-group span,
input.bgdb-suggestion-input,
span.bgdb-suggestion-input {
  display: inline-block;
  box-sizing: content-box;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  white-space: pre;
  border: none;
  outline: none;
}

.bgdb-thumbnail-col,
.bgdb-thumbnail {
  width: 150px;
  display: block;
  background-color: black;
}

@media only screen and (max-width: 700px) {

  .bgdb-thumbnail-col,
  .bgdb-thumbnail {
    width: 100px;
    display: block;
  }
}

.bgdb-hidden {
  display: none;
}

.bgdb-list-item {
  list-style: none;
}

.row.bgdb-row {
  flex-wrap: unset;
}

.bgdb-card,
.card.bgdb-card {
  background-color: var(--bgdb-card-background-color);
  color: var(--bgdb-card-color);
}

.bgdb-small-icon {
  width: 25px;
  margin: 2px;
  margin-right: 5px;
}

.bgdb-summary {
  font-size: 20px;
  margin: 0;
  width: auto;
  padding: 10px;
  background-color: black;
}

.bgdb-summary * {
  text-align: left;
  justify-content: left;

}

.bgdb-summary span {
  width: auto;
}