@page
@model BoardGameDB.Pages_Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Location" class="control-label"></label>
                <input asp-for="Game.Location" class="form-control" />
                <span asp-validation-for="Game.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Complexity" class="control-label"></label>
                <select asp-for="Game.ComplexityString" class="form-control" asp-items="Model.ComplexityListItems"></select>   
                <span asp-validation-for="Game.Complexity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden asp-for="Game.PrimaryMechanic.Id" value="0" />
                <input hidden asp-for="Game.PrimaryMechanic.Name" value="___" />
                <input hidden asp-for="Game.PrimaryMechanic.Games" />

                <label asp-for="Game.PrimaryMechanic" class="control-label"></label>
                <select asp-for="PrimaryMechanicIdString" class="form-control" asp-items="Model.MechanicListItems"></select>   
                <span asp-validation-for="Game.PrimaryMechanic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.MinimumPlayerCount" class="control-label"></label>
                <input asp-for="Game.MinimumPlayerCount" class="form-control" />
                <span asp-validation-for="Game.MinimumPlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.MaximumPlayerCount" class="control-label"></label>
                <input asp-for="Game.MaximumPlayerCount" class="form-control" />
                <span asp-validation-for="Game.MaximumPlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.MinimumPlayTimeMinutes" class="control-label"></label>
                <input asp-for="Game.MinimumPlayTimeMinutes" class="form-control" />
                <span asp-validation-for="Game.MinimumPlayTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.MaximumPlayTimeMinutes" class="control-label"></label>
                <input asp-for="Game.MaximumPlayTimeMinutes" class="form-control" />
                <span asp-validation-for="Game.MaximumPlayTimeMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.PictureUrl" class="control-label"></label>
                <input asp-for="Game.PictureUrl" class="form-control" />
                <span asp-validation-for="Game.PictureUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.RulesUrl" class="control-label"></label>
                <input asp-for="Game.RulesUrl" class="form-control" />
                <span asp-validation-for="Game.RulesUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.RulesVideoUrl" class="control-label"></label>
                <input asp-for="Game.RulesVideoUrl" class="form-control" />
                <span asp-validation-for="Game.RulesVideoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.BoardGameGeekUrl" class="control-label"></label>
                <input asp-for="Game.BoardGameGeekUrl" class="form-control" />
                <span asp-validation-for="Game.BoardGameGeekUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Game.Mechanics" class="control-label"></label>
                <input hidden asp-for="Game.Mechanics" />
                <span asp-validation-for="Game.Mechanics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Game.PlayStyles" class="control-label"></label>
                <input hidden asp-for="Game.PlayStyles" />
                <span asp-validation-for="Game.PlayStyles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="Game.Categories" class="control-label"></label>
                <input hidden asp-for="Game.Categories" />
                <span asp-validation-for="Game.Categories" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
